/*-- -------------------------- -->
<---           Logos            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #logos-857 {
        padding: var(--sectionPadding);
        background-color: #ffffff;
    }
    #logos-857 .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 50rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
        position: relative;
    }
    #logos-857 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center; 
    }

    #logos-857 .cs-title {
        margin: 0;
    }
    #logos-857 .cs-logo-group {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        align-items: center;
        gap: 2.5rem;
    }
    #logos-857 .cs-logo {
        width: 40%;
        max-width: 7.5rem;
        height: auto;
        margin: 0;
        display: block;
    }
}

/* Animation for left scrolling */
    @keyframes scroll-left {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-100%);
        }
    }

/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #logos-857 .cs-container {
        max-width: 80rem;
    }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    @keyframes floatAnimation {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-2rem);
        }
        100% {
            transform: translateY(0);
        }
    }
    @keyframes floatAnimation2 {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-3rem);
        }
        100% {
            transform: translateY(0);
        }
    }
    #cs-wrapper-1411 {
        display: flex;
        flex-direction: column;
    }
    #reviews-1411 {
        /* centers the button */
        text-align: center;
        padding: var(--sectionPadding);
        background-color: #f7f7f7;
        /* clips the orbs from causing overflow issues */
        overflow: hidden;
        position: relative;
        z-index: 1;
    }
    #reviews-1411 .cs-container {
        width: 100%;
        /* changes to 1024px at desktop */
        max-width: 36.5rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 40px - 64px */
        gap: clamp(2.5rem, 5vw, 4rem);
    }
    #reviews-1411 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #reviews-1411 .cs-title {
        max-width: 20ch;
        margin: 0;
    }
    #reviews-1411 .cs-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 28px - 60px */
        gap: clamp(1.75rem, 5vw, 3.75rem);
    }
    #reviews-1411 .cs-item {
        list-style: none;
        text-align: center;
        padding: 0;
        display: flex;
        grid-column: span 12;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 1;
    }
    #reviews-1411 .cs-quote {
        width: 5.6875rem;
        height: auto;
        opacity: 0.3;
        display: block;
        position: absolute;
        top: -1.25rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
    #reviews-1411 .cs-item-text {
        /* 16px - 20px */
        font-size: clamp(1rem, 2.6vw, 1.25rem);
        line-height: 1.5em;
        margin: 0;
        margin-bottom: 1.5rem;
        color: var(--bodyTextColor);
    }
    #reviews-1411 .cs-flex-group {
        /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
        margin-top: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        /* 8px - 24px */
        gap: clamp(0.8rem, 1.5vw, 1rem);
    }
    #reviews-1411 .cs-picture {
        width: 10rem;
        height: 10rem;
        margin: 0;
        border-radius: 50%;
        box-sizing: border-box;
        border: 2px solid var(--primary);
        background-color: var(--primary);
        display: block;
        /* sends it to the bottom in the 2nd position */
        order: 2;
        /* clips image corners to make circle */
        overflow: hidden;
        position: relative;
    }
    #reviews-1411 .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* makes the image behave like a background image */
        object-fit: cover;
    }
    #reviews-1411 .cs-name {
        font-size: 1.5625rem;
        line-height: 1.2em;
        font-weight: 700;
        margin: 0;
        color: var(--headerColor);
        display: block;
    }
    #reviews-1411 .cs-job {
        font-size: 1rem;
        line-height: 1.5em;
        font-weight: 400;
        margin: 0;
        color: var(--bodyTextColor);
        display: block;
    }
    #reviews-1411 .cs-bubbles {
        font-size: min(2.5vw, 0.7em);
        width: 35.125em;
        height: 35.125em;
        display: none;
        position: absolute;
        /* changes to 160px at larger desktop */
        left: -16.25em;
        /* changes to 30px at large desktop */
        bottom: -3.125em;
        z-index: -1;
    }
    #reviews-1411 .cs-bubbles:before {
        /* white border bubble */
        content: "";
        width: 26.25em;
        height: 26.25em;
        background: transparent;
        border: 1px solid #1a1a1a;
        border-radius: 50%;
        opacity: 1;
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        animation-name: floatAnimation;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
    #reviews-1411 .cs-bubbles:after {
        /* orange bubble */
        content: "";
        width: 20.6875em;
        height: 20.6875em;
        background: var(--primary);
        opacity: 0.15;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        animation-name: floatAnimation2;
        animation-duration: 14s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
}
/* Desktop - 1204px */
@media only screen and (min-width: 64rem) {
    #cs-wrapper-1411 {
        flex-direction: row;
    }
    #reviews-1411 {
        width: 50%;
        /* 40px - 80px */
        padding-left: clamp(2.5rem, 5vw, 5rem);
        padding-right: clamp(2.5rem, 5vw, 5rem);
    }
    #reviews-1411 .cs-content {
        text-align: left;
        align-items: flex-start;
    }
    #reviews-1411 .cs-flex,
    #reviews-1411 .cs-item {
        text-align: left;
        align-items: flex-start;
    }
    #reviews-1411 .cs-quote {
        left: 0;
        transform: none;
    }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #reviews-1411 .cs-container {
        margin-right: 0;
    }
    #reviews-1411 .cs-flex {
        flex-direction: row;
    }
    #reviews-1411 .cs-picture {
        /* sends it to the left in the 1st position */
        order: -1;
        /* prevents flexbox from squishing it */
        flex: none;
    }
    #reviews-1411 .cs-bubbles {
        display: block;
        margin-right: 15.625rem;
        left: auto;
        right: 50%;
    }
}

/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-1411 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
        background-color: #2c3e50;
    }
    #faq-1411 .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 36.5rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* 40px - 48px */
        gap: clamp(2.5rem, 5vw, 3rem);
    }
    #faq-1411 .cs-content {
        text-align: left;
    }
    #faq-1411 .cs-topper {
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: inherit;
        letter-spacing: 0.1em;
        font-weight: 700;
        color: var(--primary);
        margin-bottom: 0.25rem;
        display: block;
    }
    #faq-1411 .cs-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        max-width: 43.75rem;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
        position: relative;
    }
    #faq-1411 .cs-title {
        margin: 0 0 1.5rem 0;
        color: var(--bodyTextColorWhite);
    }
    #faq-1411 .cs-faq-group {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #faq-1411 .cs-faq-item {
        list-style: none;
        width: 100%;
        border-bottom: 1px solid #e8e8e8;
        transition: border-bottom 0.3s;
    }
    #faq-1411 .cs-faq-item.active {
        border-color: var(--primary);
    }
    #faq-1411 .cs-faq-item.active .cs-button {
        color: var(--primary);
    }
    #faq-1411 .cs-faq-item.active .cs-button:before {
        background-color: var(--primary);
        transform: rotate(315deg);
    }
    #faq-1411 .cs-faq-item.active .cs-button:after {
        background-color: var(--primary);
        transform: rotate(-315deg);
    }
    #faq-1411 .cs-faq-item.active .cs-item-p {
        height: auto;
        /* 20px - 24px bottom */
        padding: 0 0 clamp(1.25rem, 1.3vw, 1.5rem);
        opacity: 1;
    }
    #faq-1411 .cs-button {
        font-size: 1.25rem;
        line-height: 1.2em;
        text-align: left;
        font-weight: bold;
        /* 16px - 20px */
        padding: clamp(1rem, 1.3vw, 1.25rem) 0;
        border: none;
        background: transparent;
        color: var(--bodyTextColorWhite);
        display: block;
        width: 100%;
        position: relative;
        transition:
            background-color 0.3s,
            color 0.3s;
    }
    #faq-1411 .cs-button:hover {
        cursor: pointer;
    }
    #faq-1411 .cs-button:before {
        /* left line */
        content: "";
        width: 0.5rem;
        height: 0.125rem;
        background-color: var(--bodyTextColorWhite);
        opacity: 1;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: 45%;
        right: 1.5rem;
        transform: rotate(45deg);
        /* animate the transform from the left side of the x axis, and the center of the y */
        transform-origin: left center;
        transition: transform 0.5s;
    }
    #faq-1411 .cs-button:after {
        /* right line */
        content: "";
        width: 0.5rem;
        height: 0.125rem;
        background-color: var(--bodyTextColorWhite);
        opacity: 1;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: 45%;
        right: 1.3125rem;
        transform: rotate(-45deg);
        /* animate the transform from the right side of the x axis, and the center of the y */
        transform-origin: right center;
        transition: transform 0.5s;
    }
    #faq-1411 .cs-button-text {
        width: 80%;
        display: block;
    }
    #faq-1411 .cs-item-p {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        width: 90%;
        height: 0;
        margin: 0;
        padding: 0;
        opacity: 0;
        color: var(--bodyTextColorWhite);
        /* clips the text so it doesn't show up */
        overflow: hidden;
        transition:
            opacity 0.3s,
            padding-bottom 0.3s;
    }
    #faq-1411 .cs-card-group {
        margin: 0;
        padding: 0;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        /* 8px - 20px */
        gap: clamp(0.5rem, 2vw, 1.25rem);
    }
    #faq-1411 .cs-item {
        width: 100%;
        text-align: center;
        list-style: none;
        margin: 0;
        /* 24px - 32px */
        padding: 2rem clamp(1.5rem, 3vw, 2rem);
        background-color: #fff;
        border-radius: 1rem;
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        grid-column: span 6;
        grid-row: span 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        transition:
            box-shadow 0.3s,
            border-color 0.3s;
    }
    #faq-1411 .cs-item:hover {
        box-shadow: 0px 4px 120px 0px rgba(0, 0, 0, 0.12);
        border-color: transparent;
    }
    #faq-1411 .cs-item:hover .cs-h3 {
        color: var(--primary);
    }
    #faq-1411 .cs-image-group {
        /* 80px - 100px */
        width: clamp(5rem, 6vw, 6.25rem);
        height: auto;
        /* 20px - 24px */
        margin: 0 0 clamp(1.25rem, 2.5vw, 1.5rem);
        display: flex;
        justify-content: center;
        align-items: center;
        /* prevents flexbox from squishing it */
        flex: none;
        position: relative;
    }
    #faq-1411 .cs-icon {
        /* 38px - 48px */
        width: clamp(2.375rem, 3vw, 3rem);
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #faq-1411 .cs-graphic {
        width: 100%;
        height: auto;
    }
    #faq-1411 .cs-number {
        /* 25px - 49px */
        font-size: clamp(1.5625rem, 3.3vw, 3.0625rem);
        line-height: 1.2em;
        font-weight: bold;
        text-align: inherit;
        margin: 0;
        color: var(--headerColor);
        transition: color 0.3s;
    }
    #faq-1411 .cs-desc {
        font-size: 1rem;
        line-height: 1.5em;
        text-align: inherit;
        margin: 0;
        color: var(--bodyTextColor);
    }
    #faq-1411 .cs-background {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        color: #2c3e50;
    }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #faq-1411 {
        width: 50%;
        /* 40px - 80px */
        padding-left: clamp(2.5rem, 5vw, 5rem);
        padding-right: clamp(2.5rem, 5vw, 5rem);
    }
    #faq-1411 .cs-container {
        max-width: 80rem;
        margin-left: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 3.25rem;
    }
    #faq-1411 .cs-content {
        max-width: 35rem;
    }
    #faq-1411 .cs-card-group {
        max-width: 39.375rem;
        /* pushes up the same amount the cs-items are being translated up to maintain the proper spacing */
        margin-top: 3.75rem;
        align-items: stretch;
        /* sends it to the left in the 1st */
        order: -1;
    }
}
/*-- -------------------------- -->
<---        Recent Posts        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    @keyframes floatAnimation {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-2rem);
        }
        100% {
            transform: translateY(0);
        }
    }
    @keyframes floatAnimation2 {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-3rem);
        }
        100% {
            transform: translateY(0);
        }
    }
    #meet-team-1370 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    #meet-team-1370 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #meet-team-1370 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }
    #meet-team-1370 .cs-topper {
        font-size: var(--topperFontSize);
        font-weight: 700;
        line-height: 1.2em;
        text-align: inherit;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin-bottom: 0.25rem;
        color: var(--primary);
        display: block;
    }
    #meet-team-1370 .cs-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        max-width: 43.75rem;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
        position: relative;
    }
    #meet-team-1370 .cs-text {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        max-width: 40.625rem;
        margin: 0;
        color: var(--bodyTextColor);
    }
    #meet-team-1370 .cs-topper {
        color: var(--secondary);
    }
    #meet-team-1370 .cs-card-group {
        width: 100%;
        /* max-width is removed on tablet */
        max-width: 43.75rem;
        margin: 0;
        padding: 0;
        display: grid;
        align-items: stretch;
        grid-template-columns: repeat(12, 1fr);
        /* 16px - 20px */
        gap: clamp(1rem, 2vw, 1.25rem);
    }
    #meet-team-1370 .cs-item {
        list-style: none;
        display: flex;
        flex-direction: column;
        grid-column: span 12;
    }
    #meet-team-1370 .cs-item:hover .cs-link {
        opacity: 1;
        transform: translateY(0);
    }
    #meet-team-1370 .cs-picture-wrapper {
        /* 12px - 20px */
        margin-bottom: clamp(0.75rem, 4vw, 1.25rem);
        position: relative;
    }
    #meet-team-1370 .cs-picture {
        margin: 0 auto;
        border-radius: 50%;
        display: block;
        position: relative;
        z-index: 1;
        overflow: hidden;
        aspect-ratio: 1/1;
    }
    #meet-team-1370 .cs-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    #meet-team-1370 .cs-info {
        text-align: center;
        /* 16px - 24px */
        padding: clamp(1rem, 1.7vw, 1.5rem);
        background-color: #f7f7f7;
        border-radius: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* makes the info boxes grow when the items aren't matching heights */
        flex-grow: 1;
        transition: background-color 0.3s;
    }
    #meet-team-1370 .cs-info:hover {
        color: #fff;
        background-color: var(--primary);
    }
    #meet-team-1370 .cs-name {
        font-size: 1.25rem;
        font-weight: bold;
        margin: 0;
        margin: 0 0 0.25rem;
        gap: 1rem;
        transition: color 0.3s;
    }
    #meet-team-1370 .cs-job {
        transition: color 0.3s;
    }
    #meet-team-1370 .cs-social {
        display: flex;
        gap: 0.5rem;
        position: absolute;
        right: 50%;
        bottom: 1.5rem;
        z-index: 1;
        transform: translateX(50%);
    }
    #meet-team-1370 .cs-link {
        width: 2.5rem;
        height: 2.5rem;
        background-color: #fff;
        opacity: 0;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(1rem);
        transition:
            transform 0.3s,
            opacity 0.3s;
    }
    #meet-team-1370 .cs-link:hover .cs-icon {
        /* use this pen to generate a filter from black to a color of your choosing */
        /* https://codepen.io/sosuke/pen/Pjoqqp */
        filter: invert(55%) sepia(42%) saturate(4845%) hue-rotate(337deg)
            brightness(101%) contrast(98%);
    }
    #meet-team-1370 .cs-link:first-of-type,
    #meet-team-1370 .cs-link:last-of-type {
        margin-top: -1.25rem;
    }
    #meet-team-1370 .cs-link:nth-of-type(1) {
        transition-delay: 0.05s;
    }
    #meet-team-1370 .cs-link:nth-of-type(2) {
        transition-delay: 0.1s;
    }
    #meet-team-1370 .cs-link:nth-of-type(3) {
        transition-delay: 0.15s;
    }
    #meet-team-1370 .cs-link:nth-of-type(4) {
        transition-delay: 0.2s;
    }
    #meet-team-1370 .cs-bubbles {
        width: 22.3125rem;
        height: 29.375rem;
        margin-left: -58.625rem;
        display: none;
        position: absolute;
        top: -11.625rem;
        left: 50%;
        z-index: -1;
    }
    #meet-team-1370 .cs-bubbles:before {
        /* white border bubble */
        content: "";
        width: 18.375rem;
        height: 18.375rem;
        background: transparent;
        opacity: 1;
        border: 1px solid #1a1a1a;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        animation-name: floatAnimation;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
    }
    #meet-team-1370 .cs-bubbles:after {
        /* orange bubble */
        content: "";
        width: 18.375rem;
        height: 18.375rem;
        background: var(--primary);
        opacity: 0.1;
        border-radius: 50%;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        animation-name: floatAnimation2;
        animation-duration: 14s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
    }
}
/* Tablet - 500px */
@media only screen and (min-width: 31.25rem) {
    #meet-team-1370 .cs-item {
        grid-column: span 6;
    }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #meet-team-1370 .cs-container {
        flex-direction: row;
    }
    #meet-team-1370 .cs-content {
        text-align: left;
        max-width: 25.8125rem;
        align-items: start;
    }
    #meet-team-1370 .cs-card-group {
        max-width: none;
    }
    #meet-team-1370 .cs-bubbles {
        display: block;
    }
}
/*-- -------------------------- -->
<---          Timeline          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #timeline-504 {
        padding: var(--sectionPadding);
        background-color: #2c3e50;
        /* clips the white line through the bullets */
        overflow: hidden;
    }
    #timeline-504 .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #timeline-504 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #timeline-504 .cs-topper,
    #timeline-504 .cs-title {
        max-width: 18ch;
        color: var(--bodyTextColorWhite);
    }
    #timeline-504 .cs-text {
        max-width: 32.625rem;
        color: var(--bodyTextColorWhite);
        opacity: 0.8;
    }
    #timeline-504 .cs-color {
        color: var(--primary);
    }
    #timeline-504 .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        /* changes at tablet */
        gap: 2rem;
        position: relative;
    }
    #timeline-504 .cs-card-group:before {
        /* white line through the bullets */
        content: "";
        width: 1px;
        background: #b4b2c7;
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        /* send it way down to reach the bottom of the section, and have some overlap so if you add content and the ul gets longer, it will still be at the bottom */
        bottom: -18.75rem;
        /* half the width of the bullet */
        left: 0.625rem;
    }
    #timeline-504 .cs-item {
        width: 100%;
        max-width: 25rem;
        list-style: none;
        padding: 0 0 0 3.4375rem;
        position: relative;
    }
    #timeline-504 .cs-item:before {
        /* bullet circle */
        content: "";
        width: 1.25rem;
        height: 1.25rem;
        background: var(--primary);
        border-radius: 50%;
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
    }
    #timeline-504 .cs-h3 {
        /* 16px - 25px */
        font-size: clamp(1rem, 2.5vw, 1.5625rem);
        line-height: 1.2em;
        font-weight: 700;
        /* changes to 100% at tablet */
        width: 80%;
        margin: 0;
        margin-bottom: 1.25rem;
        color: var(--bodyTextColorWhite);
        position: relative;
    }
    #timeline-504 .cs-item-text {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        margin: 0;
        color: var(--bodyTextColorWhite);
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #timeline-504 .cs-container {
        max-width: 80rem;
    }
    #timeline-504 .cs-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    #timeline-504 .cs-title {
        margin: 0;
    }
    #timeline-504 .cs-text {
        width: 50%;
        margin: 0;
    }
    #timeline-504 .cs-card-group {
        flex-direction: row;
        /* 16px - 20px */
        gap: clamp(1rem, 1.5vw, 1.25rem);
    }
    #timeline-504 .cs-card-group:before {
        /* make wide enough to cover large screens */
        width: 250rem;
        height: 1px;
        top: 0.625rem;
        /* these next two properties center the line in the UL */
        left: 50%;
        transform: translateX(-50%);
    }
    #timeline-504 .cs-item {
        padding: 0;
        z-index: 1;
    }
    #timeline-504 .cs-item:hover:after {
        opacity: 1;
        transform: scale(1);
    }
    #timeline-504 .cs-item::before {
        /* 56px - 72px */
        margin-bottom: clamp(3.5rem, 7vw, 4.5rem);
        position: relative;
        top: auto;
        left: auto;
    }
    #timeline-504 .cs-item:after {
        /* Hover bullet */
        content: "";
        width: 2.5rem;
        height: 2.5rem;
        background: var(--primary);
        border: 1px solid var(--secondary);
        border-radius: 50%;
        box-sizing: border-box;
        opacity: 0;
        position: absolute;
        display: block;
        top: -0.625rem;
        left: -0.625rem;
        z-index: -1;
        transform: scale(0);
        transition:
            width 0.3s,
            height 0.3s,
            transform 0.4s,
            opacity 0.3s;
    }
    #timeline-504 .cs-h3 {
        width: 100%;
    }
}
/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1378 {
        padding: var(--sectionPadding);
    }
    #services-1378 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #services-1378 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #services-1378 .cs-topper {
        color: var(--secondary);
    }
    #services-1378 .cs-content {
        margin-bottom: clamp(2.5rem, 5vw, 4rem);
    }
    #services-1378 .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        /* 16px - 20px */
        column-gap: clamp(1rem, 2vw, 1.25rem);
        /* 72px - 84px */
        row-gap: clamp(4.5rem, 6vw, 5.25rem);
    }
    #services-1378 .cs-item {
        /* change to left if you want text aligned to the left */
        text-align: center;
        list-style: none;
        width: 100%;
        /* 210px - 305px */
        min-height: clamp(13.125rem, 30vw, 19.0625rem);
        margin: 0;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        /* 16px - 40px */
        padding: clamp(1rem, 3vw, 2.5rem);
        padding-top: 0;
        background-color: #f4f4f4;
        border-radius: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: span 12;
        position: relative;
        z-index: 1;
        transition: background-color 0.3s;
    }
    #services-1378 .cs-item:hover {
        background-color: var(--primary);
    }
    #services-1378 .cs-item:hover .cs-picture {
        background-color: var(--primary);
    }
    #services-1378 .cs-item:hover .cs-icon,
    #services-1378 .cs-item:hover .cs-arrow {
        filter: grayscale(1) brightness(1000%);
    }
    #services-1378 .cs-item:hover .cs-h3,
    #services-1378 .cs-item:hover .cs-item-text {
        color: #fff;
    }
    #services-1378 .cs-item:hover .cs-item-text {
        opacity: 0.8;
    }
    #services-1378 .cs-item:hover .cs-link {
        border-color: #fff;
    }
    #services-1378 .cs-picture {
        width: 5.5rem;
        height: 5.5rem;
        margin: -2.75rem 0 clamp(1.75rem, 3vw, 2.25rem) 0;
        box-sizing: border-box;
        background-color: #bababa;
        border: 2px solid #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s background-color;
    }
    #services-1378 .cs-icon {
        width: 2rem;
        height: auto;
        transition: filter 0.3s;
    }
    #services-1378 .cs-h3 {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
        font-weight: bold;
        line-height: 1.2em;
        text-align: inherit;
        /* if a word is too long for the card, break it onto a new line */
        word-break: break-word;
        margin: 0 0 0.75rem;
        transition: color 0.3s;
    }
    #services-1378 .cs-item-text {
        font-size: 1rem;
        line-height: 1.5em;
        text-align: inherit;
        margin: 0 0 2rem;
        color: var(--bodyTextColor);
        transition: 0.3s color;
    }
    #services-1378 .cs-link {
        text-decoration: none;
        width: 4rem;
        height: 4rem;
        color: var(--headerColor);
        border: 1px solid #bababa;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* prevents the parent flexbox from shrinking the arrow */
        flex-shrink: 0;
        gap: 0.625rem;
        transition: border-color 0.3s;
    }
    #services-1378 .cs-arrow {
        width: auto;
        height: 0.75rem;
        transition: filter 0.3s;
    }
}
/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
    #services-1378 .cs-item {
        grid-column: span 6;
    }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-1378 .cs-item {
        grid-column: span 4;
    }
}
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    @keyframes floatAnimation {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-2rem);
        }
        100% {
            transform: translateY(0);
        }
    }
    @keyframes floatAnimation2 {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-3rem);
        }
        100% {
            transform: translateY(0);
        }
    }
    #sbsr-1363 {
        padding: var(--sectionPadding);
        position: relative;
        overflow: hidden;
        z-index: 1;
    }
    #sbsr-1363 .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 36.5rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #sbsr-1363 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 39.375rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #sbsr-1363 .cs-topper {
        color: var(--primary);
    }
    #sbsr-1363 .cs-title {
        /* 23 characters wide including spaces */
        max-width: 26ch;
    }
    #sbsr-1363 .cs-text {
        margin-bottom: 1rem;
    }
    #sbsr-1363 .cs-text:last-of-type {
        margin-bottom: 1.5rem;
    }
    #sbsr-1363 .cs-card-group {
        width: 100%;
        max-width: 39.375rem;
        margin: 0 0 1.5rem 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
        align-items: center;
        gap: clamp(1rem, 2vw, 1.25rem);
    }
    #sbsr-1363 .cs-item {
        list-style: none;
        /* 16px - 24px */
        padding: clamp(1rem, 3vw, 1.5rem);
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        background-color: #f7f7f7;
        border-radius: 1rem;
        border: 1px solid #e8e8e8;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.75rem;
    }
    #sbsr-1363 .cs-h3 {
        font-size: 1.25rem;
        line-height: 1.2em;
        font-weight: 700;
        margin: 0;
        color: var(--headerColor);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
    }
    #sbsr-1363 .cs-h3-icon {
        width: 2rem;
        height: auto;
        display: block;
    }
    #sbsr-1363 .cs-item-text {
        font-size: 0.875rem;
        line-height: 1.5em;
        margin: 0;
        color: var(--bodyTextColor);
    }
    #sbsr-1363 .cs-ul {
        width: 100%;
        margin: 0 0 1.5rem 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.75rem;
    }
    #sbsr-1363 .cs-li {
        font-size: var(--bodyFontSize);
        list-style: none;
        line-height: 1.5em;
        width: 100%;
        color: var(--bodyTextColor);
        display: flex;
        justify-content: flex-start;
        /* push icon top the top so if the list item goes to two lines the icon stays at the top */
        align-items: flex-start;
        gap: 0.5rem;
    }
    #sbsr-1363 .cs-icon {
        width: 1.5rem;
        height: auto;
        /* adds extra space between the icon and top of parent so it's more centered */
        margin-top: 1px;
        display: block;
    }
    #sbsr-1363 .cs-button-solid {
        font-size: 1rem;
        line-height: 3.5rem;
        text-decoration: none;
        font-weight: 700;
        overflow: hidden;
        margin: 0;
        color: #fff;
        padding: 0 3rem;
        border-radius: 1.875rem;
        background-color: var(--primary);
        display: inline-block;
        position: relative;
        z-index: 1;
        transition: color 0.3s;
    }
    #sbsr-1363 .cs-button-solid:before {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 0%;
        background: #2c3e50;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }
    #sbsr-1363 .cs-button-solid:hover:before {
        width: 100%;
    }
    #sbsr-1363 .cs-image-group {
        width: 100%;
        max-width: 36.625rem;
        /* Changes to auto at desktop */
        height: 32.5rem;
        /* 32px - 48px */
        border-radius: clamp(2rem, 4vw, 3rem);
        /* clips the corners of the children around the border radius */
        overflow: hidden;
        position: relative;
    }
    #sbsr-1363 .cs-background {
        width: 100%;
        height: 100%;
        /* makes it cover the parent dimensions */
        object-fit: cover;
        display: block;
    }
    #sbsr-1363 .cs-background img {
        width: 100%;
        height: 100%;
        /* makes it cover the parent like a backgorund image */
        object-fit: cover;
        display: block;
    }
    #sbsr-1363 .cs-box {
        text-align: left;
        width: 100%;
        max-width: 19rem;
        padding: 2rem;
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        background-color: #2c3e50;
        /* 48px - 80px */
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        position: absolute;
        /* 12px - 20px */
        right: clamp(0.75rem, 1.9vw, 1.5rem);
        /* 12px - 20px */
        bottom: clamp(0.75rem, 1.9vw, 1.5rem);
    }
    #sbsr-1363 .cs-box-icon {
        width: 3.75rem;
        height: auto;
        display: block;
    }
    #sbsr-1363 .cs-desc {
        font-size: 1.25rem;
        line-height: 1.2em;
        text-align: inherit;
        font-weight: 700;
        width: 100%;
        margin: 0;
        color: var(--bodyTextColorWhite);
    }
    #sbsr-1363 .cs-bubbles {
        font-size: min(2.5vw, 0.7em);
        width: 26.1875em;
        height: 26.6875em;
        position: absolute;
        /* reset at larger desktop */
        right: -16.25em;
        /* changes to 30px at desktop */
        bottom: -3.125em;
        z-index: -1;
    }
    #sbsr-1363 .cs-bubbles:before {
        /* white border bubble */
        content: "";
        width: 20.625em;
        height: 20.625em;
        background: transparent;
        border: 1px solid #2c3e50;
        border-radius: 50%;
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        animation-name: floatAnimation;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
    #sbsr-1363 .cs-bubbles:after {
        /* orange bubble */
        content: "";
        width: 16.25em;
        height: 16.25em;
        background: var(--primary);
        opacity: 0.15;
        border-radius: 50%;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        animation-name: floatAnimation2;
        animation-duration: 14s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-1363 .cs-container {
        max-width: 80rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }
    #sbsr-1363 .cs-image-group {
        height: auto;
        /* sends it to the right in the 2nd position */
        order: 2;
    }
    #sbsr-1363 .cs-bubbles {
        font-size: min(2.5vw, 1em);
        right: -6.25rem;
        bottom: 0rem;
    }
}
/* Large Desktop 1600px */
@media only screen and (min-width: 100rem) {
    #sbsr-1363 .cs-bubbles {
        margin-right: 46.875rem;
        left: auto;
        right: 50%;
    }
}
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    @keyframes floatAnimation {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-2rem);
        }
        100% {
            transform: translateY(0);
        }
    }
    @keyframes floatAnimation2 {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-3rem);
        }
        100% {
            transform: translateY(0);
        }
    }
    #hero-1349 {
        /* 250px - 500px - leaving extra space for the navigation */
        padding: clamp(15.625rem, 35.95vw, 25rem) 1rem 0;
        /* 200px - 250px */
        padding-bottom: clamp(12.5rem, 16.5vw, 15.625rem);
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }
    #hero-1349:before {
        /* Overlay */
        content: "";
        width: 100%;
        height: 30%;
        background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(#2c3e50),
            to(rgba(44, 62, 80, 0))
        );
        background: -o-linear-gradient(top, #2c3e50 0%, rgba(44, 62, 80, 0) 100%);
        background: linear-gradient(
            to bottom,
            #2c3e50 0%,
            rgba(44, 62, 80, 0) 100%
        );
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 2;
        /* prevents the cursor from interacting with it */
        pointer-events: none;
    }
    #hero-1349 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    #hero-1349 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        max-width: 39.375rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }
    #hero-1349 .cs-topper {
        font-size: 1.25rem;
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: inherit;
        letter-spacing: 0.1em;
        font-weight: 700;
        color: #e8e8e8;
        margin-bottom: 0.5rem;
        display: block;
    }
    #hero-1349 .cs-title {
        /* 39px - 61px */
        font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
        font-weight: 700;
        line-height: 1.2em;
        text-align: inherit;
        max-width: 20ch;
        margin: 0 0 1rem 0;
        color: #fff;
        position: relative;
    }
    #hero-1349 .cs-text {
        font-size: 1.25rem;
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        /* 464px - 622px */
        max-width: clamp(29rem, 60vw, 38.785rem);
        margin: 0 0 2.5rem 0;
        color: #e8e8e8;
    }
    #hero-1349 .cs-button-solid {
        font-size: 1rem;
        line-height: 3.5rem;
        text-decoration: none;
        font-weight: 700;
        overflow: hidden;
        margin: 0;
        color: #fff;
        padding: 0 3rem;
        border-radius: 1.875rem;
        background-color: var(--primary);
        display: inline-block;
        position: relative;
        z-index: 1;
        transition: color 0.3s;
    }
    #hero-1349 .cs-button-solid:before {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 0%;
        background: #fff;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }
    #hero-1349 .cs-button-solid:hover {
        color: var(--primary);
    }
    #hero-1349 .cs-button-solid:hover:before {
        width: 100%;
    }
    #hero-1349 .cs-bubbles {
        /* this scales the children inside of it down. They're all in ems so they pull from the parent font size for their value of em, in this case, the value of em is tied to the viewwidth size and stops growing when the font size is equal to 1em, which it pulls from the nearst parent with a declred font size (which is the html tag, and that tag is 16px by default) */
        font-size: min(2vw, 0.5em);
        position: absolute;
        z-index: -1;
    }
    #hero-1349 .cs-bubbles1 {
        width: 42.5em;
        height: 45.25em;
        right: -11.875rem;
        /* changes to 172 at large desktop */
        top: 0;
    }
    #hero-1349 .cs-bubbles1:before {
        /* white border bubble */
        content: "";
        width: 38.875em;
        height: 38.875em;
        background: transparent;
        border: 1px solid #fff;
        border-radius: 50%;
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        animation-name: floatAnimation;
        animation-duration: 7s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
    #hero-1349 .cs-bubbles1:after {
        /* orange bubble */
        content: "";
        width: 34.125em;
        height: 34.125em;
        background: var(--primary);
        opacity: 0.8;
        border-radius: 50%;
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
        animation-name: floatAnimation2;
        animation-duration: 10s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
    #hero-1349 .cs-bubbles2 {
        width: 20.625rem;
        height: 29.75rem;
        /* changes to 160px at larger desktop */
        left: -13.75rem;
        /* removed at larger desktop */
        bottom: -16.25rem;
    }
    #hero-1349 .cs-bubbles2:before {
        /* white border bubble */
        content: "";
        width: 20.625rem;
        height: 20.625rem;
        background: transparent;
        border: 1px solid #fff;
        border-radius: 50%;
        opacity: 1;
        position: absolute;
        display: block;
        bottom: 0;
        right: 0;
        animation-name: floatAnimation;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
    #hero-1349 .cs-bubbles2:after {
        /* orange bubble */
        content: "";
        width: 16.25rem;
        height: 16.25rem;
        background: var(--primary);
        opacity: 0.8;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 0;
        right: 2.5rem;
        z-index: -1;
        animation-name: floatAnimation2;
        animation-duration: 14s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
    #hero-1349 .cs-background {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
    }
    #hero-1349 .cs-background:before {
        /* Overlay */
        content: "";
        width: 100%;
        height: 100%;
        background: #2c3e50;
        opacity: 0.8;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 1;
        /* prevents the cursor from interacting with it */
        pointer-events: none;
    }
    #hero-1349 .cs-background img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        /* makes the top of the image start at the top of the parent */
        object-position: top;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-1349 .cs-container {
        align-items: flex-start;
    }
    #hero-1349 .cs-content {
        text-align: left;
        align-items: flex-start;
    }
    #hero-1349 .cs-bubbles {
        font-size: 1em;
    }
    #hero-1349 .cs-bubbles1 {
        /* changes to auto at large desktop */
        right: -26.75rem;
    }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #hero-1349 .cs-bubbles1 {
        /* 200px - 450px */
        margin-left: clamp(12.5rem, 20vw, 28.125rem);
        top: 10.75rem;
        right: auto;
        left: 50%;
    }
}
/* Large Desktop Parallax Effect - 1600px */
@media only screen and (min-width: 100rem) {
    #hero-1349 .cs-background {
        background: url("https://github.com/user-attachments/assets/46655247-b4cb-460c-a9cb-bc3390ec020a");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    #hero-1349 .cs-background img {
        display: none;
    }
}
/* Larger Desktop - 1800px */
@media only screen and (min-width: 112.5rem) {
    #hero-1349 .cs-bubbles2 {
        margin-right: 50rem;
        right: 50%;
        left: auto;
        top: 13.125rem;
        bottom: auto;
    }
}
